.header {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}

.header-dark {
    background-color: brown;
}
.header__logo {
    grid-area: header-logo;
    height: 100px;
    width: 100px;
    border-radius: 5rem;

}

.header__title {
    grid-area: header-title;
    text-align: center;
}
.header__nav {
    grid-area: header-nav;
    
    /* background-color: lime; */
}

@media screen and (min-width: 44rem) {
    .header {
        display: grid;
        grid-template-areas: 
            "header-logo header-title"
            "header-nav header-nav"
        ;
        grid-template-columns: auto 1fr;
    
        
    }
}
